.littlebox{

    display: flex;
    flex-direction: row;
    background: black;
    color: orange;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    border-top: 10px double cadetblue;
}

.search-container{
    width: 100vw;
    height: fit-content;
    display: block; 


    &_text{
        width: 20%;
        height: 50px;
        font-size: large;
        color: white;
        background: orange;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 40%;
        font-family: 'Noto Sans Mono', monospace;
        letter-spacing: 2px;

    }

}