@import "topform";
@import "bottomform";
@import "hamburger";
@import "buttons";
@import "bottomform";
@import "cards";
@import "formcontent";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    background: black;
    color :White; 
  }
  html{
    overflow-x: hidden;
  }




